body {
  min-height: 100vh;
  background: linear-gradient(135deg, #e0ffe9 0%, #d0fff8 100%);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 6rem;
  letter-spacing: 0.2rem;
  text-align: center;
  background: #63db18;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #011b37;
  word-break: break-word;
}

.title-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.button-row {
  display: flex;
  gap: 2rem;
}

.app-icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-lilita {
  font-family: "Lilita One", cursive, sans-serif;
}

.subtitle {
  font-size: 1.5rem;
  color: #011b37;
  opacity: 0.85;
  margin-bottom: 2.5rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02em;
}
/* 
@media (max-width: 1280px) {
}

@media (max-width: 1536px) {
} */

@media (max-width: 1032px) {
  .title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .app-icon {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
    letter-spacing: 0.08rem;
  }
  .subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .app-icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 2.5rem;
    letter-spacing: 0.08rem;
  }
  .app-icon {
    width: 35px;
    height: 35px;
  }
  .subtitle {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.8rem;
    letter-spacing: 0.08rem;
  }
  .app-icon {
    width: 25px;
    height: 25px;
  }
  .subtitle {
    font-size: 0.5rem;
    margin-bottom: 1rem;
  }
}
